.Endpage__container{
    width: auto;    
    height: 30px;
    background-color: hsl(222.86deg 13.73% 20%);
    display: flex;
    justify-content: space-between;
    padding: 4px;
    align-items: center;

}
.Endpage_div1{
    display: flex;
    gap: 3.7px;
}
.Endpage_div2{
    display: flex;
    gap: 3.7px;
}
.Endpage_btn1{
display: flex;
justify-content: space-evenly;
align-items: center;
padding: 4px 8px;
border-radius: 2.5px;
color: white;
font-size: 12px;
background-color: hsl(227.37deg 12.26% 30.39%);
border: none;
}

.Endpage_btn1:hover,.Endpage_btn:hover{
    cursor: pointer;
    background-color: #5a5f73;
}
